<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/header.ejs') %>
<body>
    <%- include('./Partials/nav.ejs') %>

    <div  class="not-found content">
     <p style="font-size: larger;">Error 404, Page NOT FOUND :( </p>  
    </div>
</body>
</html>